.mat-card-image:first-child {
       margin-top: 50px;
       margin-left: 60px;
       border-top-left-radius: inherit;
       border-top-right-radius: inherit;
   }
   .details
   {
       margin-left: 200px;
       margin-top: 96px;
       width: 800px;
       
       .productprice
       {
              margin-top: 46px;    
              font-weight: 500; 
              font-size: 40px;
       }
       .OnlineExclusive
       {
              margin-top: 10px;
              font-weight: 500;
       }
       
   }
   .bottomdata
   {
          border-top: 1px solid black;
          .color
          {
                 margin-top: 20px;
                 font-weight: 500;
          }
          .colorSubtitle
          {
              margin-top: 20px;
                 font-size: 20px;
                 font-weight: 400;
                
          }
   }
   .titleproduct
   {
       font-size: 50px;
   }
   
   ngx-stars
   {
       margin-left: -167px;
          margin-top: 63px;
   }
   .productprice
   {
          margin-top: 20px;
          font-size: 30px;
          color:red
   }
   .description
   {
       margin-left: 19px;
   }
   .AddRating
   {
       margin-top: 45px;
       height: 40px;
       font-size: 40px;
       font-weight: 500;
      
   }
   .ratingIcon
   {
      
       margin-left: 10px;
          margin-top: 40px;
      font-size: xx-large;
     position:relative;
   }
   .saveStars
   {
       
          margin-top: 39px;
          margin-left: 18px;
   }
   .ratingDiv
   {
      
          border-top: 1px solid black;
       margin-left: 20px; 
       margin-bottom: 20px;
   }
   .detail-image
   {
       width: 400px;
       height: 500px;
       object-fit: fill;
   }
   .addToCart
   {
          font-size: x-large;
          margin-left: 200px;
          margin-top: -10px;
          height: 40px;
          width: 300px;
          background-color: rgb(19, 19, 49);
          color: white;
   }
mat-icon
{
       font-size: x-large;
       margin-right: 10px;
}