.login-main{
       margin-top: 10%;
       }
       .box{
              background-color:seashell;
       text-align: center;
       width: 50%;
       height: 70%;
       
       }
       .card-header
       {
              color: blue;
              text-align: center;
       }
       .login-wrapper
       {
              margin-top: 145px;
              margin-left: 775px;
              text-align: center;
       }
       
     