.login-main{
       margin-top: 10%;
       }
       .box{
              background-color:seashell;
              width: 50%;
              height: 70%;
       
       }
       .card-header
       {
              color: blue;
              
       }
       .login-wrapper
       {
              margin-top: 120px;
              margin-left: 775px;
             
       }
       .example
       {
         width: 70%;
       }
       .error
       {
              margin-left: 3px;
              font-size: 14px;
       }
       
     