.login-button
{
      margin-right: 10px;
      margin-left: 740px;
}

.register-button
{
      float: right;
      margin-right: -166%;
}
.Secondary
{
      color:white;
       background-color:slategrey;
}
.loginclick
{
      margin-right: 10px;
      
}