.login-button
{
      margin-right: 10px;
      margin-left: 30px;
}

.register-button
{
      float: right;
      margin-right: -166%;
}
.Secondary
{
      color:white;
       background-color:slategrey;
}
.loginclick
{
      margin-right: 10px;
      
}
.shopping_cart
{
      color: white;
      margin-left:620px;
      margin-top: 40px;
}

