
<mat-toolbar color="Secondary">
  <mat-toolbar-row class="Secondary">
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>Product Shopping</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home</a>
      <a mat-button [routerLink]="'/about'"> About </a>
      <a mat-button [routerLink]="'/product'"> Product </a> 
      <a mat-button routerLink="user">User</a>
      <a *ngIf="userService.currentUserName" class="shopping_cart" routerLink="shoppingCart"><mat-icon>shopping_cart</mat-icon></a>
      <a *ngIf="userService.currentUserName" class="login-button">{{userService.currentUserName}}</a>
      <a *ngIf="userService.currentUserName" mat-raised-button color="primary" (click)="logOutClick()">LogOut</a>
      <a *ngIf="!userService.currentUserName" class="login-button" mat-raised-button color="primary" routerLink="register">Register</a>
      <a *ngIf="!userService.currentUserName" class="loginclick" mat-raised-button color="primary" routerLink="login">Login</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>

