mat-button
{
       margin: 3%;
       float: right;
}
.example-label
{
       text-align: center;
       color: blue;
}
.onChangeImage
{
       margin-left: 300px;
      
       margin-top: -140px;
       
}
.mat-dialog-content
{
      column-width: 2;
}
mat-card
{
       width: 40%;
       height: 50%;
}
