<div class="mat-elevation-z8">
<table mat-table [dataSource]="user" class="mat-elevation-z8">

 
       <ng-container matColumnDef="userName">
         <th mat-header-cell *matHeaderCellDef>User </th>
         <td mat-cell *matCellDef="let row"> {{row.name}} </td>
       </ng-container>
     
      
       <ng-container matColumnDef="email">
         <th mat-header-cell *matHeaderCellDef> Email </th>
         <td mat-cell *matCellDef="let row"> {{row.email}} </td>
       </ng-container>
     
     
       <ng-container matColumnDef="registerDateTime">
         <th mat-header-cell *matHeaderCellDef> Register Date Time</th>
         <td mat-cell *matCellDef="let row"> {{row.registerDateTime}} </td>
       </ng-container>
     
       <ng-container matColumnDef="image">
         <th mat-header-cell *matHeaderCellDef> Image</th>
         <td mat-cell *matCellDef="let row"><img img mat-card-sm-image [src]="row.image" alt="Product image">  </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-paginator #paging [pageSizeOptions]="[2, 5, 10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
    </div>