/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.selector {
       background-image: url("/assets/images/Shopping.jpg");
       background-repeat: no-repeat;
       background-size: 100%;
   }
   .register {
    background-image: url("/assets/images/Register.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
// .bdrop {
//     background-color: #bbbbbbf2;
//     backdrop-filter: blur(4px);
// }
.backdropBackground {
    opacity: 1;
  }