<!-- <table mat-table [dataSource]="products">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let emp"> {{emp.Id}} </td>
  </ng-container>
</table> --> 

  <button  mat-raised-button class="new-Button" (click)="openDialog($event)" >New Product</button>
<div mat-dialog-content></div>
<div >
<ng-container class="ex-card" size="50%" *ngFor="let product of products| paginate: { itemsPerPage: 3, currentPage: p };let i=index">
                                                                               <!-- obs| async -->
  <mat-card class="container">
    <mat-card-header>
      <img img mat-card-lg-image [src]="product.image" alt="Product image">
      </mat-card-header>
      <mat-card-content>
        <!-- <span [hidden]="true">{{product.id}}</span> -->
       
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        <mat-card-title>${{product.price}}</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Detail</button>
        <button mat-raised-button color="accent">AddToCart</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button  (click)="openDialog($event,i)">Edit Product</button>
        <button mat-raised-button color="warn" (click)="openDialog2(product.id,product.title)">Delete Product</button>
         <!-- <button mat-raised-button color="warn" (click)="openDialog2($event,i)">Delete Product</button> -->
      </mat-card-actions>
    </mat-card>
    
</ng-container>

</div>

 <pagination-controls class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
<br>
<br>


