
table {
       width: 100%;
       text-align: center;
     }
     mat-card
     {
       width: 20%;
       height: 20%;
       margin: 1%;
       float: left;
     }
     .ngx-pagination
     {
        // position:absolute;
        bottom: 0;
        float: right;
       margin-right: 690px;
     }
     .container
     {
      margin-top: 1%;
       height: 400px;
     }
     .new-Button
     {
       background-color:yellow;
       color: blue;
       float: left;
       margin-left: 1300px;
       margin-top: 2%;
     }
     mat-paginator{
      position: absolute;
      right:    0;
      bottom:   0;
     }
    
     .ratings
     {
       position: relative;
     color: white;
       background-color: rgb(114, 204, 114);
       
     }
     mat-card-actions
     {
       margin-top: 20px;
     }
     
     

  
    
     
 
     