table {
       width: 100%;
       text-align: center;
     }
     mat-card
     {
       width: 20%;
       height: 20%;
       margin: 1%;
       float: left;
     }
     .ngx-pagination
     {
        // position:absolute;
        bottom: 0;
        float: right;
       margin-right: 700px;
     }
     .container
     {
      margin-top: 1%;
       height: 400px;
     }
     .new-Button
     {
       background-color:yellow;
       color: blue;
       float: left;
       margin-left: 1350px;
       margin-top: 2%;
     }
     
     
     

  
    
     
 
     