<!-- <table mat-table [dataSource]="products">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let emp"> {{emp.Id}} </td>
  </ng-container>
</table> --> 

  <button  mat-raised-button class="new-Button" (click)="openDialog($event)" >New Product</button>
<div mat-dialog-content></div>
<div >
<ng-container class="ex-card" size="50%" *ngFor="let product of products|paginate: { itemsPerPage: 4, currentPage: p };let i=index">
  <mat-card class="container">
    <mat-card-header>
      <img img mat-card-lg-image [src]="product.image" alt="Product image">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        <mat-card-title>${{product.price}}</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Detail</button>
        <button mat-raised-button color="accent">AddToCart</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button  (click)="openDialog($event,i)">Edit Product</button>
        <button mat-raised-button color="warn" (click)="onDelete($event,i)">Delete Product</button>
      </mat-card-actions>
    </mat-card>
</ng-container>
</div>
<pagination-controls class="ngx-pagination" (pageChange)="p = $event"></pagination-controls>
<br>
<br>


<!-- <table mat-table [dataSource]="products" class="mat-elevation-z8">

 
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title </th>
    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
  </ng-container>

 
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
  </ng-container>


  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let row"> {{row.price}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image</th>
    <td mat-cell *matCellDef="let row"><img img mat-card-xl-image [src]="row.image" alt="Product image">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->





<!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="products">
  
  <ng-container matColumnDef="seqNo">
      <div *matHeaderCellDef>#</div>
      <div *matCellDef="let lesson">{{lesson.seqNo}}</div>
  </ng-container>

  <ng-container matColumnDef="description">
      <div *matHeaderCellDef>Description</div>
      <div class="description-cell"
                *matCellDef="let lesson">{{lesson.description}}</div>
  </ng-container>

  <ng-container matColumnDef="duration">
      <div *matHeaderCellDef>Duration</div>
      <div class="duration-cell"
                *matCellDef="let lesson">{{lesson.duration}}</div>
  </ng-container>
  
  <mat-header-row ></mat-header-row>
  
  <mat-row></mat-row>
  
</mat-table> -->



<!-- <mat-card>
  <mat-card-header>
    <img mat-card-image src="../assets/images/material-image.png" 
    alt="Angular material Card">
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>London's weather</mat-card-title>
    <mat-card-subtitle>Today: July 10, 2020</mat-card-subtitle>
  </mat-card-content>
  





</mat-card> -->