<!-- <form [formGroup]="extraWork" (ngSubmit)="onSubmit()">
       <div>
              <div>
                     <mat-label>Weight:</mat-label>
                     <input matInput formControlName="name">
              </div>
              <mat-card formArrayName="items">
                     <div *ngFor="let quantity of getall().controls; let i=index" [formGroupName]="i">
                            <mat-label></mat-label>
                            <input matInput formControlName="qty">
                     </div>
              </mat-card>
       </div>
       <button mat-stroked-button type="submit" class="btn-block">Log in</button>
</form> -->