.login-main{
       margin-top: 10%;
       }
       .box{
              background-color:seashell;
       text-align: center;
       width: 70%;
       height: 70%;
       
       }
       .card-header
       {
              color: blue;
              
       }
       .login-wrapper
       {
              margin-top: 45px;
              margin-left: 800px;
               
       }
       .btn-block
       {
              
              margin-right: 0px;

       }
       .onChangeImage
       {
              margin-left: 200px;
              margin-top: -140px;
       }
       // input.ng-invalid
       // {
       //        border-left: 5px solid red;
       // }
       // input.ng-valid
       // {
       //        border-left: 5px solid green;
       // }
       .example
       {
         width: 70%;
       }